body {
    margin: 0;
    padding: 0;
}

#infos {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
	width: 250px;
	background-color: #fbfbfb;
}

#list {

}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    border-radius: 2px;
    background: #fffc;
}

.leaflet-popup-tip-container, .leaflet-popup-close-button {
    display: none;
}

.leaflet-popup-content {
	margin: 10px;
}