* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    font-size: 14px;
}

#infos {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
	width: 250px;
    background-color: #fbfbfb;
    min-height: 100vh;
}

#list {
    margin: 0;
    padding: 10px 0;
}

#list li {
    list-style: none;
    padding: 3px 10px;
}

#list li.selected{
    background-color: blue;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    border-radius: 2px;
    background: #fffc;
    border: 1px solid #0007ff;
    border-radius: 2px;
}

.leaflet-popup-tip-container, .leaflet-popup-close-button {
    display: none;
}

.leaflet-popup-content {
	margin: 10px;
}

.start_icon, .finish_icon {
    width: 16px;
    height: 16px;
	border-width: 2px;
	border-style: solid;
	border-radius: 50%;
}

.start_icon {
    background-color: #3abd3a;
	border-color: #0b5a0b;
}

.finish_icon {
    background-color: white;
    border-color: black;
}

.leaflet-interactive {
	transition: 0.3s;
}