* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    font-size: 14px;
}

#infos {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
	width: 250px;
    background-color: #fbfbfb;
    transition: transform 0.2s;
}

#infos.hidden {
    transform: translate3d(-250px, 0, 0);
}

#infos_wrapper {
    height: calc(100vh - 57px);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

#search {
    padding: 15px;
}

#search input {
    width: 100%;
	padding: 7px 10px;
	border: none;
}

#toggle_list_trigger {
    position: absolute;
	right: -44px;
	width: 44px;
	height: 44px;
	background: #fbfbfb;
	border: none;
}

#list {
    margin: 0;
    padding: 0 0 15px;
}

#list li {
    list-style: none;
    padding: 0;
    transition: opacity 0.3s;
}

#list li.hidden {
    opacity: 0.2;
}

#list li a{
    list-style: none;
    padding: 5px 15px;
    display: block;
    text-decoration: none;
    color: #0026af;
}

#list li a:hover, #list li.selected a{
    background-color: #eaeaea;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    border-radius: 2px;
    background: #fffc;
    border: 1px solid #0007ff;
    border-radius: 2px;
}

.leaflet-popup-tip-container, .leaflet-popup-close-button {
    display: none;
}

.leaflet-popup-content {
	margin: 10px;
}

.start_icon, .finish_icon {
    width: 16px;
    height: 16px;
	border-width: 2px;
	border-style: solid;
	border-radius: 50%;
}

.start_icon {
    background-color: #3abd3a;
	border-color: #0b5a0b;
}

.finish_icon {
    background-color: white;
    border-color: black;
}

.leaflet-interactive {
	transition: 0.3s;
}